<footer class="bg-dark copyrights  text-white">
    <div class="container d-lg-flex text-center text-lg-left" style="padding:10px 0;">
        Copyright © @Core.AppSettings.Title @DateTime.Now.Year Powered by <a href="http://blogifier.net/" data-toggle="tooltip" target="_blank" title="" data-original-title="Version - 2.0.1.3">Blogifier</a>. Designed by <a href="http://munnabhakta.com/" target="_blank" rel="nofollow">&nbsp;Munna Bhakta</a>
        <div class="ml-auto">
                <a href="/admin">ADMIN</a>
        </div>
    </div>
</footer>

    <!-- JavaScript files-->

<script src="~/themes/apex/vendor/jquery/jquery.min.js"></script>
<script src="~/themes/apex/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/themes/apex/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="~/themes/apex/vendor/fancyapps/fancybox/jquery.fancybox.min.js"></script>
<script src="~/themes/apex/js/front.js"></script>